body,
html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    color: var(--accent-color);
}

@media (max-width: 400px) {
    html {
        font-size: 12.5px;
    }
}


@media (min-width: 401px) and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 601px) {
    html {
        font-size: 16px;
    }
}

/* Luxurious Color Palette */
:root {
    --main-color: #141414;
    --secondary-color: #1c1b1e;
    --accent-color: #ffffffea;
    --grey: #f4f4f418;
    --secondary-accent-color: rgba(200, 170, 100);
    /* Gold */
    --background-color: #ffffff;
    --text-color: #ffffff;
    /* White text */
}

h1 {
    font-size: 3rem;
    color: var(--accent-color);
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    z-index: 1;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--accent-color);
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.1rem;
    color: var(--accent-color)
}

/* Navigation */
nav {
    position: absolute;
    /* Position the nav on top of the header */
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    /* Transparent so we see the hero background */
    text-align: center;
    z-index: 10;
    padding-bottom: 2rem;
    /* Ensure nav stays above other elements */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 3rem 3rem 3rem;
}

.logo {
    width: 400px;
    max-width: 90%;
}

.selected-project {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-project-image-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.selected-project-image {
    width: inherit;
    max-width: 100%;
    border-radius: 0.24rem;
}

.project-container {
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-item-margin {
    margin-bottom: 1.5rem;
}

/* .project-item {
    min-width: 250px;
    width: 550px;
    max-width: 100%;
} */

@media (min-width: 1250px) {
    .project-item {
        max-width: 550px;
    }
}

@media (max-width: 1249px) {
    .project-item {
        min-width: 80%;
        max-width: 90%;
    }
}

.project-item h1 {
    margin-top: 0;
}

.project-item p {
    margin-bottom: 2rem;
    letter-spacing: 0.15rem;
}

.reference p {
    font-size: 1rem;
    color: var(--accent-color);
}

.reference h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.job-types {
    margin: auto;
    max-width: 100%;
}

.job-types ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 0;
}

.job-types li {
    list-style: none;
    margin: 1rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 1;
}

.job-types li:first-child {
    list-style: none;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

/* Hover Effects */
nav ul li:hover {
    background-color: var(--grey);
    transition: 0.75s ease;
}


/* Hero Section */
.hero {
    background-image: url('https://images.unsplash.com/photo-1507652313519-d4e9174996dd?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* background-image: url('assets/kitchen.png'); */
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero div {
    /* padding-top: 1rem; */
}

/* Opaque Overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    /* Black overlay with opacity */
}

.hero h2,
.hero p,
.hero a {
    position: relative;
    z-index: 1;
    font-weight: 200;
    /* To be above the overlay */
}

.hero h2 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

h1 {
    position: relative;
    z-index: 1;
    margin: 0;
}


.about {
    background-image: url('assets/outdoor.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
    text-align: center;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    /* Black overlay with opacity */
}

section {
    padding: 4rem 2rem;
    position: relative;
    min-height: 90vh;
}

#our-services .project-item:nth-child(2) h2 {
    margin-top: 0;
}

#references {
    margin-top: 3rem;
}

.reference h4 {
    text-transform: uppercase;
}

.brighter-section {
    background-color: var(--secondary-color);
    padding: 4rem 2rem;
    position: relative;
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

p.hero-text {
    text-align: center;
    margin: auto;
    min-width: 350px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    min-height: 20vh;
    text-align: center;
}

#contact a {
    color: white;
    text-decoration: none;
}

.uc-logo {
    width: 300px;
    margin: 0 auto;
}

.uc-logo img {
    width: 300px;
    margin: 0 auto;
}

.metallic-text {
    /* Base metallic color */
    background: linear-gradient(120deg, white, #a4ae72, white);
    background-size: 170%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: light-passing 1.5s ease-out forwards;
}

@keyframes light-passing {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}